#socios {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

#socios h2 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 20px;
}

#socios p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

#socios ul {
    list-style: none;
    padding: 0;
}

#socios ul li {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}
